.navContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
    
    .navMenu{
        display: grid;
        align-items: center;
        background-color:rgba(27, 63, 29, 0.692);
        grid-column-start: 1; 
        grid-column-end: 6; 
        
        .logo {
            text-decoration: none;
            width: 100%;
            font-size: 32px; 
            padding: 0 10px;
            font-weight: bold;
            grid-column-end: 2; 
            color: white;
        }

        .cartIcon {
            display: grid;
            grid-column-start: 6; 
            font-size: 20px;

            span {
                width: 100%;
            }

            // span:hover {
            //     background-color:rgba(15, 29, 16, 0.692); 
            // }  

        }

        span { 
           text-align: center;

            a {
                text-decoration: none;
                color: white;
                font-weight: bold;
            }
        }
    }
}